<div class="container">
    <br>
    <div id="burger-img"><img src="../assets/images/hamburger-3184108_640.png">
    </div>
    <h1>Eat-Da-Burger!</h1>
    <br>

    <div id="left-content">
        <ol>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
                {{burger_name}}
                <button class="burger-delete" data-id="{{this.id}}">Devour It!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div id="right-content">
        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{burger_name}}

            {{/if}}
            {{/each}}
        </ol>
    </div>

    <form>
        <div class="text-center">
            <div class="form-group">
                <div id="burger-div">
                    <input type="text" class="form-control" id="burger-form" required>
                </div>
                <br>
                <button class="btn btn-primary" id="burger-button" type="submit">Submit</button>
            </div>
    </form>
</div>
</div>
<br>
<h3>Enter a burger you want to eat and click the "Submit" button.</h3>