<div class="container">
    <br>
    <div id="burger-img"><img src="../assets/images/hamburger-3184108_640.png">
    </div>
    <h1>Eat-Da-Burger!</h1>
    <br>

    <div id="left-content">
    </div>

    <div id="right-content">
    </div>

    <form>
        <div class="text-center">
            <div class="form-group">
                <div id="burger-div">
                    <input type="text" class="form-control" id="burger-form" required>
                </div>
                <br>
                <button class="btn btn-primary" id="burger-button" type="submit">Submit</button>
            </div>
    </form>
</div>
</div>
<br>
<h3>Enter a burger you want to eat and click the "Submit" button.</h3>