body {
    background-color: rgb(212, 202, 179);
    font-family: 'Catamaran',
        sans-serif;
}

#burger-img {
    text-align: center;
}

#grid-container {
    margin: 0;
}

#left-content {
    float: left;
    width: 50%;
    background-color: green;
    text-align: center;
}

#right-content {
    float: left;
    width: 50%;
    background-color: blueviolet;
}

#uneaten-burger-div {
    display: inline-flex;
    margin: 5px 5%;
}

#uneaten-burger-list {
    background-color: aliceblue;
    width: 350px;
    /* padding: 0 10px; */
    margin: 0 15px 0 0;
}

.burger-delete-button,
.btn {
    width: 120px;
    background-color: #08236d;
    color: white;
    border-radius: 10px;
}

#eaten-burger-list {
    background-color: aliceblue;
    margin: 10px auto;
    padding: 0 10px;
    width: 350px;
    opacity: .7;
}

ul {
    font-size: 20px;
    list-style-type: none;
}

.form-group {
    width: 45%;
    margin: 0 auto;
}

#submit-button {
    margin: 0 auto;
}

h1 {
    font-family: 'Gochi Hand',
        cursive;
    font-size: 85px;
    color: red;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

@media only screen and (min-width: 2480px) {
    #left-content {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1120px) {}