body {
    background-color: rgb(255, 227, 155);
    font-family: 'Catamaran',
        sans-serif;
}

#burger-img {
    text-align: center;
}

.container {
    margin: 0;
}

#left-content {
    float: left;
    width: 50%;
    margin: 0;
    background-color: greenyellow;
}

#right-content {
    float: right;
    width: 50%;
    margin: 0;
    background-color: blueviolet;
}

#uneaten-group-div {
    display: grid;
    grid-template-columns: 70% 30%;
}

.uneaten-burger-list {
    background-color: aliceblue;
    width: 350px;
    padding: 0 10px;
}

.burger-delete {
    width: 120px;
    background-color: #007bff;
    color: white;
}

.eaten-burger-list {
    background-color: aliceblue;
    padding: 0 10px;
    width: 350px;
    opacity: .65;
}

ul {
    font-size: 20px;
    list-style-type: none;
}

.burger-delete {
    height: 45px;
}

.form-group {
    width: 45%;
    margin: 0 auto;
}

#submit-button {
    margin: 0 auto;
}

h1 {
    font-family: 'Gochi Hand',
        cursive;
    font-size: 85px;
    color: red;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

br {}